/*
  Component styles. For the moment these should all be
  manually namespaced so as to not be global styles.
*/

.concordance-title {
  padding:10px 0 2px 0;
  margin:0;

}

.concordance-line {
  stroke: steelblue;
}

.concordance-line.highlight {
  stroke: orange;
}

.concordance-background {
  stroke: #ddd;
  stroke-width: 3;
  fill: none;
}

.kwik {
  font-family: sans-serif;
  font-size: 12px;
  max-height:300px;
  max-width: 550px;
  overflow-y:auto;
  margin-bottom:30px;
  background-color: white;
  padding: 5px 20px 10px 20px;
  border: 1px solid grey
}
